#include "windows.h"
#include "windowsx.h"

Big256  ICON   RES\BIG256.ICO
Add     CURSOR RES\ADD.CUR
Attack  CURSOR RES\ATTACK.CUR
Beam    CURSOR RES\BEAM.CUR
Build   CURSOR RES\BUILD.CUR
Cancel  CURSOR RES\CANCEL.CUR
Control CURSOR RES\CONTROL.CUR
Disk    CURSOR RES\DISK.CUR
Goto    CURSOR RES\GOTO.CUR
New     CURSOR RES\NEW.CUR
Pointer CURSOR RES\POINTER.CUR
Select  CURSOR RES\SELECT.CUR



